/Library
/Logs
/Temp
/Build
/Builds
/Ludiq*
/ProjectSettings
/UserSettings
/Assets/StreamingAssets/*
/Assets/StreamingAssets/Images*
/Assets/StreamingAssets/JSON_Output
/Assets/StreamingAssets/VRM*
/Assets/Resources/*
/Assets/AssetStoreTools*
.vs/boom-tools/v16/.suo
*.sqlite
.vs/VSWorkspaceState.json
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
